[submodule "src/liquidprompt"]
	path = src/liquidprompt
	url = git@github.com:nojhan/liquidprompt.git
[submodule "src/z"]
	path = src/z
	url = git@github.com:rupa/z.git
[submodule "src/osx-config-check"]
	path = src/osx-config-check
	url = git@github.com:kristovatlas/osx-config-check.git
